body {
  background-image: url(https://st2.depositphotos.com/1041372/7044/v/450/depositphotos_70445225-stock-illustration-illustration-of-a-sheet-of.jpg);
}

.App {
  margin-top: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 60px;
  font-weight: 900;
}

form {
  display: flex;
  margin-bottom: 20px;
}

form input[type="text"] {
  margin-right: 10px;
  padding: 5px;
  font-size: 16px;
}

form button[type="submit"] {
  padding: 5px 10px;
  font-size: 16px;
  font-weight: 900;
  background-color: #20b2e2;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  width: 100%;
}

li:last-child {
  border-bottom: none;
}

.completed {
  text-decoration: line-through;
  color: #20b2e2;
}

li button {
  padding: 5px 10px;
  font-size: 16px;
  font-weight: 900;
  background-color: #4c484c;
  color: whitesmoke;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

span {
  font-size: 30px;
  color: red;
}
